.cntr-wrapper {
 display: flex;
 justify-content: center;
 align-items: center;
}
.wrapper-column {
 display: flex;
 flex-direction: column;
}
.flex-wrap {
 display: flex;
 flex-wrap: wrap;
}
.wrapper-row {
 display: flex;
 flex-direction: row;
}
.white-color {
 color: #fff;
}
.black-color {
 color: #000;
}
.dark-theme-orangebg {
 background: #ef7f1b;
}
.dark-theme-middlebluebg {
 background: #596c94;
}
.light-themebg {
 background: #ffffff;
}
.dark-themebg {
 background: #000000;
}